@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 100vw;
    height: 97vh;
    background-color: lightgray;
}
main{
    position: relative;
    width: 100%;
    height: 100%;
}
.forma-up{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: white;

    clip-path: polygon(0% 100%, 100% 50%, 100% 0%, 0% 0%);
}
h1{
    padding: 50px ;
    text-align: left;
    font-family: "Bebas Neue";
    font-size: 3em;
    letter-spacing: 2px;
    color: gray;
}
form{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    
    width: 100%;
    padding: 5px 0;
    margin: 10px;
    border: solid 1px rgba(128, 128, 128, 0.247);
    text-align: center;
    background: none;
    transform: translateY(-200%);
    border-radius: 50px;
}
.forma-down{
    position: absolute;
    width: 100%;
    height: 60vh;
    bottom: 0;
    right: 0;

    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 100% 30%);
    transform: translateY(-5%);
    background-color: rgb(34, 34, 34); 
}
.hora{
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: white;
    font-family: "Staatliches" ;
    font-size: 4em;
    letter-spacing: 3px;
}
.cortesia{
    position: absolute;
    bottom: 7%;
    right: 20%;
    color: white; 
    font-family: "Great Vibes" ;
    font-size: 3em;
}

footer{
    width: 100%;
    position: absolute;
    bottom: -18px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0 );
    padding: 10px 0;
    
    background: rgba(0, 0, 0, 1);  
    color:white; 
}